/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* Global Styles */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
h1,span{
    font-family: 'Fraunces', serif;
    font-weight:700;
}
/* section */
.section-center{
    max-width:1440px;
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-card{
    display:grid;
    max-width:18rem;
    margin-bottom: 0.5rem;
}
.product-img{
    object-fit:cover;
    height:200px;
    width:100%;
    border-top-left-radius:7px;
    border-top-right-radius:7px;    
}
.product-box{
    padding:20px;
    display:grid;
    gap: 0.8rem 0;
    background-color: hsl(0, 0%, 100%);
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;  
}
.product-type,.product-detail{
    opacity: 0.7;
}
.product-type{
    letter-spacing: 5px;
    font-size: 10px;
}
.product-name{
    font-size:27px;
    color:hsl(212, 21%, 14%);
}
.product-detail{
    font-size: 12px;
    line-height: 1.5;
}
.product-price{
    display: flex;
    align-items: center;
    gap: 0 20px;
    margin-top: 5px;
}
.product-normal{
    font-size: 27px;
    color:hsl(158, 36%, 37%);
}
.product-promotion{
    text-decoration: line-through;
    opacity:0.6;
    font-size:0.8rem;
}
.product-cart{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius:8px;
    border:none;
    font-weight: bold;
    cursor: pointer;
    padding:12px 0;
    font-size: 13px;
    transition: background-color 0.4s;
}
.product-cart:hover{
    background-color: hsl(212, 21%, 14%);
}
.product-cart i{
    margin-right: 10px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 768px) {
    .product-card{
        grid-template-columns: 1fr 1fr;
        max-width:30rem;
        margin-bottom: 1rem;
    }
    .product-img{
        height:auto;
        border-top-left-radius:7px;
        border-top-right-radius:0;    
        border-bottom-left-radius:7px;
        border-bottom-right-radius:0;    
    }
    .product-box{
    border-bottom-left-radius:0;
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;  
    }
}
